.cardsFoundingMemberDiv
{
   margin-top:4%;
   display:flex;
   justify-content: center;

   flex-wrap:wrap;
   margin :0 auto;
   
}
section h1{
   font-size: 40px;;
}
.cardFounder{
   box-sizing: border-box;
   
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 4px;
   margin-bottom:5%;
   margin-left:5%;
  padding:10px;
  border:1px solid rgb(224, 221, 221);
}
.imagesFounder
{max-width:200px;
   display: block;
  
   width:100%;
   height:auto;
   padding:10px;
   padding-left: 0;
   box-shadow: 0px 10px 16px -8px rgb(0 0 0 / 20%);
}
.FounderTitle
{margin-top:10px;
   margin-bottom: 6px;
   font-size: 21px;
   line-height: 27px;
   color: inherit;
   width: 100%;
   font-weight:800;
   color:grey;
   text-align: left;
}
.FounderDesc
{
   font-size: 16px;
   line-height: 24px;
   font-weight: normal;
   color: inherit;
   width: 100%;
   color:rgb(160, 150, 150);
}
  
 